body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}
.container {
    text-align: center;
}
h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    margin-left: 10px;
    margin-right: 10px;
}
p {
    font-size: 1.2rem;
    padding: 10px;
}